venv/
linux_venv/
.python-version
__pycache__/
*.pyc
node_modules/
# 
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitignore
graph.json
config.json
models/
data/
*.db
*.index

.env

Context/